<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tool.xfy9326.naucourse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/login"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Activities.ExamActivity"
            android:label="@string/exam"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>

        <activity
            android:name=".Activities.ScoreActivity"
            android:label="@string/score"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>

        <activity
            android:name=".Activities.InfoDetailActivity"
            android:label="@string/info_label"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>

        <activity
            android:name=".Activities.WifiConnectActivity"
            android:label="@string/connect_nau_wifi"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>

        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/settings"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>

        <activity
            android:name=".Activities.AboutActivity"
            android:label="@string/about"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>

        <service
            android:name=".Services.WifiConnectService"
            tools:ignore="InnerclassSeparator" />

        <receiver
            android:name=".Receivers.UpdateReceiver"
            android:exported="false"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="tool.xfy9326.naucourse.Receivers.UpdateReceiver.Update" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".Views.NextClassWidget"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_next_class_provider" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="tool.xfy9326.naucourse.Views.NextClassWidget.OnClick" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
