<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tool.xfy9326.naucourse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="tool.xfy9326.naucourse.App"
        android:allowBackup="true"
        android:extractNativeLibs="${ExtractNativeLibs}"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="n">

        <activity
            android:name="tool.xfy9326.naucourse.ui.activities.MainIndexActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.LaunchScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="tool.xfy9326.naucourse.ui.activities.MainDrawerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme.TranslucentStatusBar.DarkActionBar" />

        <activity
            android:name="tool.xfy9326.naucourse.ui.activities.LoginActivity"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme.TranslucentStatusBar" />

        <activity
            android:name="tool.xfy9326.naucourse.ui.activities.UserInfoActivity"
            android:label="@string/user_info"
            android:theme="@style/AppTheme.TranslucentStatusBar.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tool.xfy9326.naucourse.ui.activities.MainDrawerActivity" />
        </activity>

        <activity android:name="tool.xfy9326.naucourse.ui.activities.NewsDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tool.xfy9326.naucourse.ui.activities.MainDrawerActivity" />
        </activity>

        <activity
            android:name="tool.xfy9326.naucourse.ui.activities.CourseManageActivity"
            android:label="@string/course_manage" />

        <activity
            android:name="tool.xfy9326.naucourse.ui.activities.CourseEditActivity"
            android:label="@string/course_edit" />

        <activity
            android:name="tool.xfy9326.naucourse.ui.activities.SettingsActivity"
            android:label="@string/settings" />

        <activity
            android:name="tool.xfy9326.naucourse.ui.activities.AboutActivity"
            android:label="@string/about" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="tool.xfy9326.naucourse.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>
</manifest>
